body {
  background-color: #121212;
  margin: 0px;
}

.head {
  font-size: 72px;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 2.5%;
}

.sub {
  font-size: 32px;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 2.5%;
}

nav.top-nav{
  padding: 0;
  overflow: hidden;
  background-color: #2C2C2EFF;
}

nav.top-nav a{
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  text-decoration: none;
  margin: 0px;
  padding: 16px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dd-button {
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  padding: 16px 16px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2C2C2EFF;
  z-index: 1;
  width: 15.76em;
}

.dropdown-content a {
  color: #121417;
  text-align: left;
  text-decoration: none;
  float: none;
  display: block;
  width: 11em;
}

.dropdown-content a:hover {
  background-color: #343A40;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dd-button {
  background-color: #2C2C2EFF;
}

/* ABOVE IS STYLES.CSS FROM PREVIOUSLY */

.input{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
}

.App{
  text-align: center;
}

.pPic{
  width: 250px;
  height: auto;
}

.name {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  flex: 100%;
   order: 3;
}


.normal{
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#A8A878;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.flying {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#A890F0;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.grass, .bug {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:green;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.water{
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:blue;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  border-radius: 10px;
}

.ice {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#98D8D8;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.fire {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:red;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  border-radius: 10px;
}

.psychic, .ghost, .poison{
  padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:purple;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  border-radius: 10px;
}

.electric {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:yellow;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.fairy {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#EE99AC;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.dragon {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#7038F8;
  font-family: 'Spartan', sans-serif;
  color: #CED4DA;
  border-radius: 10px;
}

.rock {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#B8A038;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.ground {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#E0C068;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.dark {
	padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#705848;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}

.steel{
  padding: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 500px;
	margin: auto;
	margin-top:10px;
	background-color:#B8B8D0;
  font-family: 'Spartan', sans-serif;
  color: black;
  border-radius: 10px;
}


.tile-content{
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.4);
	padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile-content div{
  padding: 5px;
  margin: 10px; 
}

.tilecard{
  flex: 1 1 0;
  font-size: 16px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}